/* reset */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/*@font-face {
    font-family: 'Outward';
    src: url('fonts/webfonts/outward-block-webfont.eot');
    src: url('fonts/webfonts/outward-block-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/webfonts/outward-block-webfont.woff2') format('woff2'),
         url('fonts/webfonts/outward-block-webfont.woff') format('woff'),
         url('fonts/webfonts/outward-block-webfont.ttf') format('truetype'),
         url('fonts/webfonts/outward-block-webfont.svg#outwardblock') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Outward';
    src: url('fonts/webfonts/outward-borders-webfont.eot');
    src: url('fonts/webfonts/outward-borders-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/webfonts/outward-borders-webfont.woff2') format('woff2'),
         url('fonts/webfonts/outward-borders-webfont.woff') format('woff'),
         url('fonts/webfonts/outward-borders-webfont.ttf') format('truetype'),
         url('fonts/webfonts/outward-borders-webfont.svg#outwardborders') format('svg');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Outward';
    src: url('fonts/webfonts/outward-round-webfont.eot');
    src: url('fonts/webfonts/outward-round-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/webfonts/outward-round-webfont.woff2') format('woff2'),
         url('fonts/webfonts/outward-round-webfont.woff') format('woff'),
         url('fonts/webfonts/outward-round-webfont.ttf') format('truetype'),
         url('fonts/webfonts/outward-round-webfont.svg#outwardround') format('svg');
    font-weight: normal;
    font-style: italic;
}

@import url('https://fonts.googleapis.com/css2?family=M+PLUS+1p&display=swap');
.m-plus-1p-regular {
  font-family: "M PLUS 1p", sans-serif;
  font-weight: 400;
  font-style: normal;
}*/

@font-face {
    font-family: 'LeagueGothic';
    src: url('fonts/LeagueGothic-1.601/static/OTF/LeagueGothic-Condensed.otf');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'LeagueGothic';
    src: url('fonts/LeagueGothic-1.601/static/OTF/LeagueGothic-Italic.otf');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'LeagueMono';
    src: url('fonts/LeagueMono-2.300/static/OTF/LeagueMono-Regular.otf');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'LeagueMono';
    src: url('fonts/LeagueMono-2.300/static/OTF/LeagueMono-Bold.otf');
    font-weight: bold;
    font-style: normal;
}

:root{
    --background-color : antiquewhite;
    --primary-color : wheat;
    --grid-color : white;
    --secondary-color : #000;
}

h1{
    font-size: 6em;
}
h2{
    font-size: 1em;
    margin: 0%;
}
h3{
    font-size: 4em;
}

a{
    color: inherit;
    text-decoration: none;
}

body{
    font-family: "LeagueMono", sans-serif;
    font-size: 0.8em;
}

footer{
    margin: 28px 0px;
    font-size: 0.8em;
}