body{
    padding: 20px 25%;    
    /*background-size: 16px 16px;
    background-image:
        linear-gradient(to right, var(--grid-color) 1px, transparent 1px),
        linear-gradient(to bottom, var(--grid-color) 1px, transparent 1px);
        background-position: top;*/
}

.paper{
    padding: 3.5rem;
}

header{
    color: white; 
    margin-bottom: 1.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: 'LeagueGothic', sans-serif;
    
}

header p{
    font-size: 2rem;
}

header img{
    width: 11rem;
    height: auto;
}

.info{
    margin: 16px 0px;
}

nav{
    margin: 12px 0px;
    font-size: 0.8rem;
}

/*specifique page*/

.purble_back{
    background-color: #F5C7B0;
}
.purble{
    background-color: #F56119;
}

.metronomes_back{
    background-color: #8ABFB7;
}
.metronomes{
    background-color: #4BC0AD;
}

.digitalenatif_back{
    background-color: #E8E8E8;
}
.digitalenatif{
    background-color: #CCCCCC;
}

.dn_post{
    margin-top: 12px;
}
.dn_post details{
    background-color: #CCCCCC;
    padding: 12px 24px;
}
.dn_post details div{
    margin-top: 12px;
}

.tiktok-embed{
    margin: 0px;
}

.autres_back{
    background-color: #848f93;
}
.autres{
    background-color: #3C7D96;
}
.creations{
    margin-top: 12px;
}
.creations details{
    background-color: #3C7D96;
    padding: 12px 24px;
}
.creations details div{
    margin-top: 12px;
}

.articles{
    background-color: #EDB4C1;
}

.post{
    background-color: var(--background-color);
    margin: 16px 0px;
}
.post img{
    width: 100%;
    height: 82px;
}
.post h2{
    padding: 8px;
}

summary:hover{
    cursor: pointer;
}

details{
    margin: 12px 0px;
}

details a{
    margin-left: 12px;
}

.images{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.images img{
    max-width: 360px;
    margin: 12px;
}

@media only screen and (max-width: 811px){
    body{
        padding: 8px 8px;
    }
    header{
        margin: 0px;
        margin-bottom: 42px;
        flex-wrap: wrap;
        justify-content: center;
    }
    .images{
        justify-content: center;
    }
}